.card--hidden {
  background-color: blue;
  width: 400px;
  height: 200px;
  border-radius: 10px;
}

.card {
  background-color: #ffffe3;
  color: #666666;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 8px 8px 17px -4px rgba(0, 0, 0, 0.39);
  box-shadow: 8px 8px 17px -4px rgba(0, 0, 0, 0.29);
}

.card--button {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 46px;
  width: 46px;
  background-color: transparent;
  border: none;
}

.image--pokeball {
  height: 36px;
  width: auto;
}
