footer {
  background-color: #eadc10;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 40px 0 40px;
}

.footer--button {
  height: 64px;
  width: 64px;
  border: none;
  background-color: transparent;
}
